.login-page{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.home-container{
    place-self: center;
    width: max(20vw, 330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    animation: fadeIn 0.5s;

}
.login-title{
    background-color: rgb(43, 40, 40);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-title img{
    padding: 35px 30px;
    width: max(10%, 240px);
    
}
.login-inputs{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    gap: 25px;
}
.login-inputs input {
    outline: none;
    border: 1px solid #c9c9c9;
    background-color: #f1e9f6;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
}
.forgot-password{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    padding: 0 20px;

}
.forgot-password p{
     font-size: 14px;
}
.forgot-password span{
    color: #a020f0;
    padding: 0 4px;
    font-weight: 400;
    cursor: pointer;
}
.login-button{
    padding: 20px 20px;

}
.login-button button{
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: rgb(43, 40, 40);
    font-size: 15px;
    cursor: pointer;
}
.login-inputs input::placeholder {
    color: #a020f0;
    font-weight: 600;
    font-size: 14px;
}
.account-request{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 15px 0;
}
.account-request p{
    text-align: center;
}
.account-request span{
    color: #a020f0;
    font-weight: 400;
    cursor: pointer;
}
