.login-page {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #f4f4f9; /* Lighter background color for a soft feel */
}

.home-container {
    width: max(20vw, 330px);
    background-color: #ffffff;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 12px;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
    padding: 40px 35px;
    animation: fadeIn 0.5s;
}

.login-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

.login-title img {
    width: 180px;
    max-width: 90%;
}

.login-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-inputs input {
    outline: none;
    border: 1px solid #d0d0d0;
    background-color: #fafafa;
    padding: 12px 15px;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-in-out;
}

.login-inputs input:focus {
    border-color: #a020f0; /* Highlight border color on focus */
    background-color: #ffffff;
}

.forgot-password {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
}

.forgot-password p {
    font-size: 14px;
}

.forgot-password span {
    color: #a020f0;
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
}

.login-button {
    padding: 15px 0;
}

.login-button button {
    width: 100%;
    padding: 12px;
    background-color: #a020f0;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.login-button button:hover {
    background-color: #8b17c0; /* Darker shade on hover */
}

.account-request {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    text-align: center;
}

.account-request p {
    font-size: 14px;
    color: #333;
}

.account-request span {
    color: #a020f0;
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
}

.password-input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-input-container input {
    flex: 1;
    padding-right: 40px; /* Added space for the icon */
}

.password-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #666;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
